/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1em; }

ol, ul {
  list-style: none; }

li ul {
  margin-left: 5px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---- */
body {
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  background-color: #E5E2DB;
  text-align: center;
  color: #333; }

h1 {
  font-weight: 400;
  font-size: 2em;
  line-height: 2em; }

p {
  margin-bottom: 10px; }

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
  #overlay button {
    padding: 11px 17px 9px;
    font-weight: 400;
    line-height: 1em;
    border-width: 0px 0px 3px;
    border-style: none none solid;
    color: #FFF;
    background-color: #4BB232;
    border-color: #3A8A27;
    border-radius: 6px;
    text-transform: uppercase; }
  #overlay button:hover {
    cursor: pointer; }

.msg {
  background-color: #E5E2DB;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  border-radius: 12px; }

.row {
  overflow: hidden;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #333;
  width: 304px;
  margin: 0 auto; }

.row:first-child {
  margin-top: 50px; }

.row:last-child {
  border: 0; }

.tile {
  float: left;
  width: 100px;
  height: 100px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #999;
  line-height: 100px;
  font-size: 4em; }
  .tile select {
    display: none; }

.tile:first-child {
  border-left: 0; }

.tile:last-child {
  border-right: 0; }

.player-x .tile:hover span:before {
  content: "X";
  cursor: pointer; }

.player-o .tile:hover span:before {
  content: "O";
  cursor: pointer; }

span.player-x:before {
  content: "X" !important; }

span.player-o:before {
  content: "O" !important; }

@media only screen and (min-width: 768px) {
  .row {
    width: 604px; }

  .tile {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 8em; }

  .msg {
    width: 50%; }
 }
